{{ define "main" }}
<main class="content single">
    {{ $content := . }}
    {{ $cover := .Resources.GetMatch "cover" }}
    {{ with .Params.cover }}
            {{ $cover = $content.Resources.GetMatch . }}
    {{ end }}
    {{ if $cover }}
        {{ $cover_width := ($.Site.Params.article_width | default $.Site.Data.default.article_width) }}
        <img class="cover" src="{{ ($cover.Resize (printf "%dx" $cover_width)).RelPermalink }}" />
    {{ end }}
    {{ with .GetTerms "tags" }}
    <div class="tags">
        {{ range . }}
        <a href="{{.Permalink}}">#{{ .LinkTitle }}</a>
        {{ end }}
    </div>
    {{ end }}
    <article>
        <header>
            <h1>{{ .Title }}</h1>
            <p class="byline">Published on: <time>{{ .Date.Format "Jan 2, 2006" }}</time></p>
        </header>

        {{ .Content }}

        <a class="section-link" href="{{ .Parent.Permalink }}">{{ if .Parent.IsHome }}Return to Home{{ else }}See more in {{ .Parent.Title }}{{ end }}</a>
    </article>
</main>
{{ end }}