<article class="card post">
    {{ $content := . }}
    {{ $longform := false}}
    {{ if isset .Params "longform" }}
        {{ $longform = .Params.longform }}
    {{ else }}
        {{ $longform = (gt (len .Content) ($.Site.Params.longform_cutoff | default
        $.Site.Data.default.longform_cutoff))}}
    {{ end }}

    {{ $original := .Resources.GetMatch "cover" }}
    {{ with .Params.cover }}
            {{ $original = $content.Resources.GetMatch . }}
    {{ end }}
    {{ if $original }}
    	{{ $orientation := 1 }}
	{{ $rotation := "" }}
	{{ with $original.Exif }}
		{{ $orientation = .Tags.Orientation }}
	{{ end }}
	{{ if eq $orientation 8 }}
		{{ $rotation = "r90" }}
	{{ end }}
	{{ if eq $orientation 3 }}
		{{ $rotation = "r180" }}
	{{ end }}
	{{ if eq $orientation 6 }}
		{{ $rotation = "r270" }}
	{{ end }}
        {{ $card_width := ($.Site.Params.card_width | default $.Site.Data.default.card_width) }}
        {{ $cover_max_height := ($.Site.Params.card_cover_max_height | default $.Site.Data.default.card_cover_max_height)}}
        {{ $image := $original.Resize (printf "%dx %s" $card_width $rotation) }}
        {{ if (and $longform (ge $image.Height $cover_max_height)) }}
            {{ $image = $original.Fill (printf "%dx%d" $card_width $cover_max_height) }}
        {{ end }}
        {{ if $longform}}
            {{ if ge $image.Height $cover_max_height }}
                {{ $image = $original.Fill (printf "%dx%d" $card_width $cover_max_height) }}
            {{ end }}
            <img src="{{ $image.RelPermalink }}" width="{{ $image.Width }}" height="{{ $image.Height }}" alt="{{ .Title }}"/>
        {{ else }}
            <a href="{{ $original.Permalink }}"><img src="{{ $image.RelPermalink }}" width="{{ $image.Width }}" height="{{ $image.Height }}" alt="{{ .Title }}"/></a>
        {{ end }}
    {{ end }}
    <div class="card-info">
        <div>
            <h3> {{ .Title }}</h3>
            <time>{{ .Date.Format "Jan 2, 2006" }}</time>
        </div>
        {{ with .GetTerms "tags" }}
        <div class="tags">
            {{ range . }}
            <a href="{{.Permalink}}">#{{ .LinkTitle }}</a>
            {{ end }}
        </div>
        {{ end }}
    </div>
    <p>{{ .Summary }}</p>
    {{ if $longform }}
        <a class="content-link" href="{{ $content.RelPermalink }}">Read More</a>
    {{ end }}
</article>
